In [45]:
!pip install psycopg2 sqlalchemy

Requirement already satisfied: psycopg2 in c:\users\swexl\anaconda3\lib\site-packages (2.9.9)
Requirement already satisfied: sqlalchemy in c:\users\swexl\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\swexl\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [279]:
import pandas as pd
import numpy as np
import json
import dask.dataframe as dd
import requests
from io import StringIO
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient
from math import ceil
import datetime
import calendar
import pyodbc
from sqlalchemy import create_engine
from sqlalchemy import Table, MetaData
import os

In [47]:
#Azure Functions
def azure_upload_blob(connect_str, container_name, blob_name, data):
  blob_service_client = BlobServiceClient.from_connection_string(connect_str)
  blob_client = blob_service_client.get_blob_client(container=container_name, blob=blob_name)
  blob_client.upload_blob(data, overwrite = True)
  print(f"Uploaded to Azure Blob: {blob_name}.")

def azure_download_blob(connect_str, container_name, blob_name):
  blob_service_client = BlobServiceClient.from_connection_string(connect_str)
  blob_client = blob_service_client.get_blob_client(container=container_name, blob=blob_name)
  download_stream = blob_client.download_blob()
  return download_stream.readall()

#Google Cloud Functions
def google_upload_blob(bucket_name, source_file_name, destination_blob_name):
  storage_client = storage.Client()
  bucket = storage_client.bucket(bucket_name)
  blob = bucket.blob(destination_blob_name)
  blob.upload_from_filename(source_file_name)
  print(f"FIle {source_file_name} uploaded to {destination_blob_name}.")

def google_download_blob(bucket_name, source_blob_name, destination_file_name):
  storage_client = storage.Client()
  bucket = storage_client.bucket(bucket_name)
  blob = bucket.blob(source_blob_name)
  blob.download_to_filename(destination_file_name)
  print(f"BLob {source_blob_name} downloaded to {destination_file_name}.")

#AWS Functions
def aws_upload_file(file_name, bucket, object_name = None):
  if object_name is None:
    object_name = os.path.basename(file_name)
  s3_client = boto3.client('s3')
  response = s3_client.upload_file(file_name, bucket, object_name)
  print(f"Uploaded {file_name} to S3 bucket {bucket}.")

def aws_download_file(bucket, object_name, file_name):
  s3_client = boto3.client('s3')
  s3_client.download_file(bucket, object_name, file_name)
  print(f"Downloaded {object_name} from S3 bucket {bucket}.")

In [48]:
def week_of_month(dt):
  first_day = dt.replace(day = 1)
  dom = dt.day
  adjusted_dom = dom + first_day.weekday()
  return int(ceil(adjusted_dom/7.0))

def get_week_of_year(date_str):
  date = datetime.strptime(date_str, '%Y-%m-%d')

  week_of_year = date.isocalendar()[1]

  return week_of_year

In [312]:
# Path to the JSON configuration file
config_file_path = 'config.json'

# Open the configuration file and load the JSON data into the config variable
with open(config_file_path, 'r') as config_file:
    config = json.load(config_file)

# Retrieve the Azure Storage connection string from the loaded configuration
CONNECTION_STRING_AZURE_STORAGE = config["connectionString"]
CONTAINER_AZURE = 'waterconsumption'

# Initialize BlobServiceClient using connection string
blob_service_client = BlobServiceClient.from_connection_string(CONNECTION_STRING_AZURE_STORAGE)

# Get a blob client to interact with a specific blob
#blob_client = blob_service_client.get_blob_client(container=CONTAINER_AZURE, blob=blob_name)

# Create the container
container_client = blob_service_client.get_container_client(CONTAINER_AZURE)

consumption_water_df = pd.DataFrame()

blob_list = container_client.list_blobs()
for blob in blob_list:
  print(blob.name)
  blob_client = container_client.get_blob_client(blob = blob.name)
  blob_data = blob_client.download_blob()
  blob_content = blob_data.readall().decode('utf-8')
  df = pd.read_csv(StringIO(blob_content))

  print(df.shape)

  consumption_water_df = df.copy()

water_consumption.csv
(50315, 25)

In [281]:
# This is for ELT

#Database connection URL
pwd = 'VangougH20'
database_url = f'postgresql://swexler:{pwd}@cisdwbaruchwaterconsumption.postgres.database.azure.com/postgres'

engine = create_engine(database_url)

consumption_water_df.to_sql('WaterConsumptionAndCost.consumption_water_raw', con=engine, if_exists='append', index=False)

315

In [104]:
consumption_water_df.columns

Index(['Development Name', 'Borough', 'Account Name', 'Location', 'Meter AMR',
       'Meter Scope', 'TDS #', 'EDP', 'RC Code', 'Funding Source', 'AMP #',
       'Vendor Name', 'UMIS BILL ID', 'Revenue Month', 'Service Start Date',
       'Service End Date', '# days', 'Meter Number', 'Estimated',
       'Current Charges', 'Rate Class', 'Bill Analyzed', 'Consumption (HCF)',
       'Water&Sewer Charges', 'Other Charges'],
      dtype='object')

In [51]:
consumption_water_df.head()

,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,...,Service End Date,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (HCF),Water&Sewer Charges,Other Charges
0,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91.0,240,Q009100,FEDERAL,...,01/26/2020,34.0,K13060723,N,196.35,Basic Water and Sewer,Yes,19,196.35,0.0
1,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91.0,240,Q009100,FEDERAL,...,02/24/2020,29.0,K13060723,N,258.35,Basic Water and Sewer,Yes,25,258.35,0.0
2,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91.0,240,Q009100,FEDERAL,...,03/23/2020,28.0,K13060723,N,217.02,Basic Water and Sewer,Yes,21,217.02,0.0
3,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91.0,240,Q009100,FEDERAL,...,04/23/2020,31.0,K13060723,N,103.34,Basic Water and Sewer,Yes,10,103.34,0.0
4,BAY VIEW,BROOKLYN,BAY VIEW,BLD 25 - Community Center,NONE,Community Center,92.0,670,K209200,MIXED FINANCE/LLC1,...,01/26/2020,34.0,E17250205,N,72.34,Basic Water and Sewer,Yes,7,72.34,0.0

In [52]:
consumption_water_df.dropna()
consumption_water_df['TDS #'] = consumption_water_df['TDS #'].astype('Int64')
consumption_water_df['# days'] = consumption_water_df['# days'].astype('Int64')
consumption_water_df.head()

,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,...,Service End Date,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (HCF),Water&Sewer Charges,Other Charges
0,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91,240,Q009100,FEDERAL,...,01/26/2020,34,K13060723,N,196.35,Basic Water and Sewer,Yes,19,196.35,0.0
1,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91,240,Q009100,FEDERAL,...,02/24/2020,29,K13060723,N,258.35,Basic Water and Sewer,Yes,25,258.35,0.0
2,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91,240,Q009100,FEDERAL,...,03/23/2020,28,K13060723,N,217.02,Basic Water and Sewer,Yes,21,217.02,0.0
3,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91,240,Q009100,FEDERAL,...,04/23/2020,31,K13060723,N,103.34,Basic Water and Sewer,Yes,10,103.34,0.0
4,BAY VIEW,BROOKLYN,BAY VIEW,BLD 25 - Community Center,NONE,Community Center,92,670,K209200,MIXED FINANCE/LLC1,...,01/26/2020,34,E17250205,N,72.34,Basic Water and Sewer,Yes,7,72.34,0.0

In [53]:
# Perform data transformation
consumption_water_df['Service Start Date'] = pd.to_datetime(consumption_water_df['Service Start Date'])
consumption_water_df['Service End Date'] = pd.to_datetime(consumption_water_df['Service End Date'])
consumption_water_df['Year'] = consumption_water_df['Service Start Date'].dt.year
consumption_water_df['Quarter'] = consumption_water_df['Service Start Date'].dt.quarter
consumption_water_df['Month'] = consumption_water_df['Service Start Date'].dt.month
consumption_water_df['Day'] = consumption_water_df['Service Start Date'].dt.day
consumption_water_df['WeekOfYear'] = consumption_water_df['Service Start Date'].dt.isocalendar().week
#consumption_water_df['WeekOfMonth'] = consumption_water_df['Service Start Date'].apply(week_of_month)

# Drop null values
consumption_water_df.dropna(inplace=True)

# Data quality checks (e.g., check for duplicates)
duplicates = consumption_water_df[consumption_water_df.duplicated()]
if not duplicates.empty:
    print("Duplicate rows found!")

Duplicate rows found!

In [120]:
# Define the data mapping for each dimension and fact table
# Dim_Vendor
vendor_mapping = {
    'VendorName': {'source_column': 'Vendor Name', 'destination_column': 'VendorName', 'data_type': 'string', 'description': 'Utility vendor name'},
}

# Dim_Development
development_mapping = {
    'DevelopmentName': {'source_column': 'Development Name', 'destination_column': 'DevelopmentName', 'data_type': 'string', 'description': 'The name of the housing development as listed in the Development Data Book'},
    'BuildingNumber': {'source_column': 'Location', 'destination_column': 'BuildingNumber', 'data_type': 'string', 'description': 'Building number'},
    'ElectronicDataProcessingNumber': {'source_column': 'EDP', 'destination_column': 'ElectronicDataProcessingNumber', 'data_type': 'integer', 'description': 'NYCHA Electronic Data Processing. Number used to identify individual NYCHA developments.'},
    'RC_Code': {'source_column': 'RC Code', 'destination_column': 'RC_Code', 'data_type': 'string', 'description': 'NYCHA budget responsibility code.'},
    'FundingSource': {'source_column': 'Funding Source', 'destination_column': 'FundingSource', 'data_type': 'string', 'description': 'The development’s funding source including Federal, Mixed Finance, or an indication that the facility is a non development facility'},
}

# Dim_Meter
meter_mapping = {
    'MeterNumber': {'source_column': 'Meter Number', 'destination_column': 'MeterNumber', 'data_type': 'string', 'description': 'Meter number'},
    'MeterAMR': {'source_column': 'Meter AMR', 'destination_column': 'MeterAMR', 'data_type': 'string', 'description': 'Is the meter Automatic Meter Reading (AMR), Interval or none'},
    'MeterScope': {'source_column': 'Meter Scope', 'destination_column': 'MeterScope', 'data_type': 'string', 'description': 'The buildings or areas the account and meter supply'},
}

# Dim_Location
location_mapping = {
    'BoroughName': {'source_column': 'Borough', 'destination_column': 'BoroughName', 'data_type': 'string', 'description': 'Borough'},
    'Zone': {'source_column': 'Location', 'destination_column': 'Zone', 'data_type': 'string', 'description': 'Zone'},
    # Add Longitude and Latitude mapping if available
}

# Dim_BillingCycle
billing_cycle_mapping = {
    'RevenueMonth': {'source_column': 'Revenue Month', 'destination_column': 'RevenueMonth', 'data_type': 'date', 'description': 'Year and month of bill: 2016-01'},
    'ServiceStartDate': {'source_column': 'Service Start Date', 'destination_column': 'ServiceStartDate', 'data_type': 'date', 'description': 'Bill start date'},
    'ServiceEndDate': {'source_column': 'Service End Date', 'destination_column': 'ServiceEndDate', 'data_type': 'date', 'description': 'Bill end date'},
    'NumberOfDays': {'source_column': 'number days', 'destination_column': 'NumberOfDays', 'data_type': 'integer', 'description': 'Number of days on bill'},
}

# Facts_ConsumerWaterUsage
consumer_water_usage_mapping = {
    'ConsumptionVolume': {'source_column': 'Consumption (HCF)', 'destination_column': 'ConsumptionVolume', 'data_type': 'float', 'description': 'Total HCF (Hundred Cubic Feet) consumption'},
    'WaterConsumptionCost': {'source_column': 'Water&Sewer Charges', 'destination_column': 'WaterConsumptionCost', 'data_type': 'float', 'description': 'Total water & sewer charges'},
    'TotalUtilityCost': {'source_column': 'Current Charges', 'destination_column': 'TotalUtilityCost', 'data_type': 'float', 'description': 'Total costs'},
    # Add other fields as needed
}

# Merge all mappings
all_mappings = {
    'Dim_Vendor': vendor_mapping,
    'Dim_Development': development_mapping,
    'Dim_Meter': meter_mapping,
    'Dim_Location': location_mapping,
    'Dim_BillingCycle': billing_cycle_mapping,
    'Facts_ConsumerWaterUsage': consumer_water_usage_mapping,
}

In [121]:
unique_vendor_names = consumption_water_df['Vendor Name'].unique()
 
# Convert the array of unique values into a dataframe
unique_vendor_df = pd.DataFrame(unique_vendor_names, columns=['VendorName'])

# Applying the mapping to create a new column with descriptions
#unique_vendor_df['VendorDescription'] = unique_vendor_df['VendorName'].map(vendor_mapping)

# Filtering out any NA values if necessary
unique_vendor_df = unique_vendor_df.dropna(subset=['VendorName'])

# Add a VendorID column with unique identifiers
unique_vendor_df['VendorID'] = range(1, len(unique_vendor_df) + 1)

new_order = ['VendorID', 'VendorName']
unique_vendor_df = unique_vendor_df[new_order]

# Display the resulting dataframe
unique_vendor_df

   VendorID                 VendorName
0         1  NEW YORK CITY WATER BOARD

In [194]:
# Dim_Development
unique_development_names = consumption_water_df['Development Name'].unique()
unique_development_df = pd.DataFrame(unique_development_names, columns=['DevelopmentName'])
unique_development_df['BuildingNumber'] = consumption_water_df['Location']
unique_development_df['ElectronicDataProcessingNumber'] = consumption_water_df['EDP']
unique_development_df['RC_Code'] = consumption_water_df['RC Code']
unique_development_df['FundingSource'] = consumption_water_df['Funding Source']

df.rename(columns={
    'Development Name': 'DevelopmentName',
    'Location': 'BuildingNumber',
    'EDP': 'ElectronicDataProcessingNumber',
    'RC Code': 'RC_Code',
    'Funding Source': 'FundingSource'
}, inplace=True)

# Applying the mapping to create a new column with descriptions
for column in ['DevelopmentName', 'BuildingNumber', 'ElectronicDataProcessingNumber', 'RC_Code', 'FundingSource']:
    mapping_info = development_mapping[column]

# Filtering out any NA values if necessary
unique_development_df = unique_development_df.dropna(subset=['DevelopmentName'])

# Add a VendorID column with unique identifiers
unique_development_df['DevelopmentID'] = range(1, len(unique_development_df) + 1)

new_order = ['DevelopmentID', 'DevelopmentName', 'BuildingNumber', 'ElectronicDataProcessingNumber', 'RC_Code', 'FundingSource']
unique_development_df = unique_development_df[new_order]

# Display the resulting dataframe
unique_development_df

,DevelopmentID,DevelopmentName,BuildingNumber,ElectronicDataProcessingNumber,RC_Code,FundingSource
0,1,BAISLEY PARK,BLD 09,240,Q009100,FEDERAL
1,2,BAY VIEW,BLD 09,240,Q009100,FEDERAL
2,3,BERRY STREET-SOUTH 9TH STREET,BLD 09,240,Q009100,FEDERAL
3,4,CLAREMONT REHAB (GROUP 2),BLD 09,240,Q009100,FEDERAL
4,5,CLAREMONT REHAB (GROUP 4),BLD 25 - Community Center,670,K209200,MIXED FINANCE/LLC1
...,...,...,...,...,...,...
106,107,WASHINGTON HEIGHTS REHAB PHASE III,BLD 10,322,K020500,FEDERAL
107,108,WASHINGTON HEIGHTS REHAB PHASE IV (D),BLD 14,322,K020500,FEDERAL
108,109,WHITMAN,BLD 14,322,K020500,FEDERAL
109,110,WEST FARMS SQUARE CONVENTIONAL,BLD 14,322,K020500,FEDERAL
110,111,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,BLD 14,322,K020500,FEDERAL

In [212]:
unique_meter_numbers = consumption_water_df['Meter Number'].unique()
unique_meter_df = pd.DataFrame(unique_meter_numbers, columns=['MeterNumber'])
unique_meter_df['MeterAMR'] = consumption_water_df['Meter AMR']
unique_meter_df['MeterAMR'].fillna('None', inplace=True)  # Fill NaN values with 'None'
unique_meter_df['MeterScope'] = consumption_water_df['Meter Scope']

# Applying the mapping to create a new column with descriptions
for column in ['MeterAMR', 'MeterScope']:
    mapping_info = meter_mapping[column]

# Filtering out any NA values if necessary
unique_meter_df = unique_meter_df.dropna(subset=['MeterAMR'])

# Add a MeterrID column with unique identifiers
unique_meter_df['MeterID'] = range(1, len(unique_meter_df) + 1)

new_order = ['MeterID','MeterNumber', 'MeterAMR', 'MeterScope']
unique_meter_df = unique_meter_df[new_order]

# Display the resulting dataframe
unique_meter_df

     MeterID MeterNumber MeterAMR           MeterScope
0          1   K13060723      AMR               BLD 09
1          2   E17250205      AMR               BLD 09
2          3   O78363626      AMR               BLD 09
3          4   O78779274      AMR               BLD 09
4          5   O78363667     NONE     Community Center
..       ...         ...      ...                  ...
790      791    15020283      AMR  BLD 02, STORE 04-05
791      792    78778861      AMR  BLD 02, STORE 04-05
792      793    74892806      AMR  BLD 02, STORE 04-05
793      794     9010020      AMR  BLD 01, STORE 01-03
794      795     9010467      AMR  BLD 01, STORE 01-03

[795 rows x 4 columns]

In [215]:
# List of all Meter AMR
amrs = ['AMR', 'Interval', 'None']

# Create a DataFrame for all boroughs
amr_df = pd.DataFrame({'MeterAMR': amrs})

# Merge the borough DataFrame with unique_location_df
unique_meter_df = pd.merge(unique_meter_df, amr_df, how='outer', on='MeterAMR')

# Fill NaN values with a default value (if needed)
unique_meter_df['MeterAMR'].fillna('Unknown', inplace=True)

# Display the resulting DataFrame
unique_meter_df

     MeterID MeterNumber  MeterAMR MeterScope
0        1.0   K13060723       AMR     BLD 09
1        2.0   E17250205       AMR     BLD 09
2        3.0   O78363626       AMR     BLD 09
3        4.0   O78779274       AMR     BLD 09
4        9.0   E97172487       AMR     BLD 02
..       ...         ...       ...        ...
791    767.0   E12102713      NONE        NaN
792    768.0   K12447340      NONE        NaN
793    769.0   E13084395      NONE        NaN
794    694.0   E16057157      None        NaN
795      NaN         NaN  Interval        NaN

[796 rows x 4 columns]

In [186]:
# Dim_Location
unique_locations = consumption_water_df['Location'].unique()
unique_location_df = pd.DataFrame(unique_locations, columns=['Location'])
unique_location_df['BoroughName'] = consumption_water_df['Borough']

# Applying the mapping to create a new column with descriptions
for column in ['BoroughName']:
    mapping_info = location_mapping[column]
    #unique_location_df[column + '_Description'] = mapping_info['description']

# Filtering out any NA values if necessary
#unique_location_df = unique_location_df.dropna(subset=['BoroughName'])

# Add a VendorID column with unique identifiers
unique_location_df['LocationID'] = range(1, len(unique_location_df) + 1)

new_order = ['LocationID', 'Location', 'BoroughName']
unique_location_df = unique_location_df[new_order]


# Display the resulting dataframe
unique_location_df

     LocationID                   Location BoroughName
0             1                     BLD 09      QUEENS
1             2  BLD 25 - Community Center      QUEENS
2             3                     BLD 02      QUEENS
3             4                     BLD 04      QUEENS
4             5                     BLD 03    BROOKLYN
..          ...                        ...         ...
301         302                     BLD 37         FHA
302         303                     BLD 46         FHA
303         304                     BLD 38         FHA
304         305        BLD16 - STORE 35-36         FHA
305         306        1091 LONGFELLOW AVE         FHA

[306 rows x 3 columns]

In [189]:
# List of all boroughs
boroughs = ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

# Create a DataFrame for all boroughs
borough_df = pd.DataFrame({'BoroughName': boroughs})

# Merge the borough DataFrame with unique_location_df
unique_location_df = pd.merge(unique_location_df, borough_df, how='outer', on='BoroughName')

unique_location_df['Longitude'] = np.random.uniform(low=-74.25, high=-73.7, size=len(unique_location_df))
unique_location_df['Latitude'] = np.random.uniform(low=40.5, high=40.9, size=len(unique_location_df))

# Fill NaN values with a default value (if needed)
unique_location_df['BoroughName'].fillna('Unknown', inplace=True)

# Display the resulting DataFrame
unique_location_df

,LocationID,Location,BoroughName,Longitude,Latitude
0,1.0,BLD 09,QUEENS,-73.747652,40.651400
1,2.0,BLD 25 - Community Center,QUEENS,-74.175641,40.742344
2,3.0,BLD 02,QUEENS,-73.738486,40.540027
3,4.0,BLD 04,QUEENS,-73.915971,40.512754
4,31.0,132-33 218TH STREET,QUEENS,-74.218806,40.515327
...,...,...,...,...,...
306,NaN,NaN,Bronx,-73.956054,40.671600
307,NaN,NaN,Brooklyn,-73.845604,40.642831
308,NaN,NaN,Manhattan,-74.219872,40.647310
309,NaN,NaN,Queens,-73.736326,40.831199
310,NaN,NaN,Staten Island,-73.743163,40.685485

In [287]:
missing_values = consumption_water_df['Service Start Date'].isnull().sum()
print("Number of missing values in 'Service Start Date' column:", missing_values)

Number of missing values in 'Service Start Date' column: 7

In [288]:
invalid_dates = consumption_water_df['Service Start Date'].isnull().sum()
print("Number of invalid date formats in 'Service Start Date' column:", invalid_dates)

Number of invalid date formats in 'Service Start Date' column: 7

In [289]:
start_date = consumption_water_df['Service Start Date'].min()
end_date = consumption_water_df['Service Start Date'].max()

In [286]:
consumption_water_df['Service Start Date'] = pd.to_datetime(consumption_water_df['Service Start Date'])
consumption_water_df['Service End Date'] = pd.to_datetime(consumption_water_df['Service End Date'])

# Define the start and end dates for your date dimension
start_date = consumption_water_df['Service Start Date'].min()
end_date = consumption_water_df['Service End Date'].max()

# Create a DataFrame with a range of dates
date_range = pd.date_range(start=start_date, end=end_date, freq='D')
date_df = pd.DataFrame(date_range, columns=['Date'])

# Extract attributes from the date
date_df['DateID'] = date_df['Date'].dt.strftime('%Y%m%d%H')
date_df['YearNumber'] = date_df['Date'].dt.year
date_df['MonthNumber'] = date_df['Date'].dt.month
date_df['DayNumber'] = date_df['Date'].dt.day
date_df['DayOfWeek'] = date_df['Date'].dt.dayofweek
date_df['DayName'] = date_df['Date'].dt.day_name()
date_df['MonthName'] = date_df['Date'].dt.month_name()
date_df['QuarterNumber'] = date_df['Date'].dt.quarter
date_df['WeekOfYear'] = date_df['Date'].dt.isocalendar().week

new_order = ['DateID', 'Date', 'YearNumber', 'QuarterNumber', 'MonthNumber', 'DayNumber', 'MonthName', 'DayName', 'WeekOfYear']
date_df = date_df[new_order]

date_df.rename(columns={
    'Date': 'DateIsoFormat'
}, inplace=True)

# Display the resulting DataFrame
date_df

,DateID,DateIsoFormat,YearNumber,QuarterNumber,MonthNumber,DayNumber,MonthName,DayName,WeekOfYear
0,2002122200,2002-12-22,2002,4,12,22,December,Sunday,51
1,2002122300,2002-12-23,2002,4,12,23,December,Monday,52
2,2002122400,2002-12-24,2002,4,12,24,December,Tuesday,52
3,2002122500,2002-12-25,2002,4,12,25,December,Wednesday,52
4,2002122600,2002-12-26,2002,4,12,26,December,Thursday,52
...,...,...,...,...,...,...,...,...,...
7337,2023012300,2023-01-23,2023,1,1,23,January,Monday,4
7338,2023012400,2023-01-24,2023,1,1,24,January,Tuesday,4
7339,2023012500,2023-01-25,2023,1,1,25,January,Wednesday,4
7340,2023012600,2023-01-26,2023,1,1,26,January,Thursday,4
7341,2023012700,2023-01-27,2023,1,1,27,January,Friday,4

In [292]:
# Merge consumption_water_df with unique_development_df on DevelopmentName
merged_df = pd.merge(consumption_water_df, unique_development_df, how='left', left_on='Development Name', right_on='DevelopmentName').reset_index(drop=True)

# Merge consumption_water_df with unique_vendor_df on VendorID
merged_df = pd.merge(merged_df, unique_vendor_df, how='left', left_on='Vendor Name', right_on='VendorName').reset_index(drop=True)

# Merge consumption_water_df with unique_location_df on LocationID
merged_df = pd.merge(merged_df, unique_location_df, how='left', left_on='Location', right_on='Location').reset_index(drop=True)

# Merge consumption_water_df with unique_meter_df on MeterID
merged_df = pd.merge(merged_df, unique_meter_df, how='left', left_on='Meter Number', right_on='MeterNumber').reset_index(drop=True)

# Check if the columns exist in the DataFrame before reordering
columns_to_order = ['FactID', 'VendorID', 'LocationID', 'DevelopmentID', 'MeterID', 'Service Start Date', 'Service End Date', 'ConsumptionVolume', 'CurrentCharges', 'WaterAndSewerCharges', 'OtherCharges', 'ServiceDuration', 'ServiceStartDateID', 'ServiceEndDateID']
existing_columns = [col for col in columns_to_order if col in merged_df.columns]

# Reorder columns
merged_df = merged_df[existing_columns]

# Display the resulting dataframe
merged_df.head()

,VendorID,LocationID,DevelopmentID,MeterID,Service Start Date,Service End Date
0,1,1.0,1,1.0,2019-12-23,2020-01-26
1,1,1.0,1,1.0,2020-01-26,2020-02-24
2,1,1.0,1,1.0,2020-02-24,2020-03-23
3,1,1.0,1,1.0,2020-03-23,2020-04-23
4,1,2.0,2,2.0,2019-12-23,2020-01-26

In [301]:
# Convert columns to integer type after ensuring there are no missing values
merged_df['DevelopmentID'] = merged_df['DevelopmentID'].fillna(0).astype(int)
merged_df['MeterID'] = merged_df['MeterID'].fillna(0).astype(int)
merged_df['LocationID'] = merged_df['LocationID'].fillna(0).astype(int)

# Add a VendorID column with unique identifiers
merged_df['VendorID'] = range(1, len(merged_df) + 1)
merged_df['LocationID'] = range(1, len(merged_df) + 1)
merged_df['DevelopmentID'] = range(1, len(merged_df) + 1)
merged_df['MeterID'] = range(1, len(merged_df) + 1)

# Display the resulting dataframe
merged_df.head()

,VendorID,LocationID,DevelopmentID,MeterID,Service Start Date,Service End Date
0,1,1,1,1,2019-12-23,2020-01-26
1,2,2,2,2,2020-01-26,2020-02-24
2,3,3,3,3,2020-02-24,2020-03-23
3,4,4,4,4,2020-03-23,2020-04-23
4,5,5,5,5,2019-12-23,2020-01-26

In [314]:
# Calculate service duration
consumption_water_df['ServiceDuration'] = pd.to_datetime(consumption_water_df['Service End Date']) - pd.to_datetime(consumption_water_df['Service Start Date'])

# Create FactID column
consumption_water_df['FactID'] = range(1, len(consumption_water_df) + 1)

# Rename columns
new_column_names = {
    'VendorID': 'VendorID',
    'LocationID': 'LocationID',
    'DevelopmentID': 'DevelopmentID',
    'MeterID': 'MeterNumber',
    'Consumption (HCF)': 'ConsumptionVolume',
    'Current Charges': 'CurrentCharges',
    'Water&Sewer Charges': 'WaterAndSewerCharges',
    'Other Charges': 'OtherCharges'
}

consumption_water_df = consumption_water_df.rename(columns=new_column_names)

# Define the columns
required_columns = ['VendorID', 'LocationID', 'DevelopmentID', 'MeterID']

# Check if the columns exist, and create them if they are missing
for col in required_columns:
    if col not in consumption_water_df.columns:
        consumption_water_df[col] = 1  # You can replace None with appropriate default values if needed
        
unique_meter_df['FactID'] = range(1, len(unique_meter_df) + 1)

# Check if the columns exist in the DataFrame before reordering
columns_to_order = ['FactID', 'VendorID', 'LocationID', 'ServiceStartDateID', 'ServiceEndDateID', 'DevelopmentID', 'MeterID', 'ConsumptionVolume', 'CurrentCharges', 'WaterAndSewerCharges', 'OtherCharges', 'ServiceDuration', 'Service Start Date', 'Service End Date']
existing_columns = [col for col in columns_to_order if col in consumption_water_df.columns]

# Reorder columns
consumption_water_df = consumption_water_df[existing_columns]

# Create ServiceStartDateID and ServiceEndDateID
consumption_water_df['ServiceStartDateID'] = pd.to_datetime(consumption_water_df['Service Start Date']).dt.strftime('%Y%m%d%H')
consumption_water_df['ServiceEndDateID'] = pd.to_datetime(consumption_water_df['Service End Date']).dt.strftime('%Y%m%d%H')

# Convert columns to integer type after ensuring there are no missing values
consumption_water_df['DevelopmentID'] = consumption_water_df['DevelopmentID'].fillna(0).astype(int)
consumption_water_df['MeterID'] = consumption_water_df['MeterID'].fillna(0).astype(int)
consumption_water_df['LocationID'] = consumption_water_df['LocationID'].fillna(0).astype(int)

# Add a VendorID column with unique identifiers
consumption_water_df['VendorID'] = range(1, len(consumption_water_df) + 1)
consumption_water_df['LocationID'] = range(1, len(consumption_water_df) + 1)
consumption_water_df['DevelopmentID'] = range(1, len(consumption_water_df) + 1)
consumption_water_df['MeterID'] = range(1, len(consumption_water_df) + 1)

# Display the DataFrame
consumption_water_df.head()

,FactID,VendorID,LocationID,DevelopmentID,MeterID,ConsumptionVolume,CurrentCharges,WaterAndSewerCharges,OtherCharges,ServiceDuration,Service Start Date,Service End Date,ServiceStartDateID,ServiceEndDateID
0,1,1,1,1,1,19,196.35,196.35,0.0,34 days,12/23/2019,01/26/2020,2019122300,2020012600
1,2,2,2,2,2,25,258.35,258.35,0.0,29 days,01/26/2020,02/24/2020,2020012600,2020022400
2,3,3,3,3,3,21,217.02,217.02,0.0,28 days,02/24/2020,03/23/2020,2020022400,2020032300
3,4,4,4,4,4,10,103.34,103.34,0.0,31 days,03/23/2020,04/23/2020,2020032300,2020042300
4,5,5,5,5,5,7,72.34,72.34,0.0,34 days,12/23/2019,01/26/2020,2019122300,2020012600

In [305]:
#Rename
consumption_water_df = consumption_water_df.rename(columns={
    'FactID': 'factid',
    'VendorID': 'vendorid',
    'LocationID': 'locationid',
    'DevelopmentID': 'developmentid',
    'MeterID': 'meterid',
    'ConsumptionVolume': 'consumptionvolume',
    'CurrentCharges': 'currentcharges',
    'WaterAndSewerCharges': 'waterandsewercharges',
    'OtherCharges': 'othercharges',
    'ServiceDuration': 'serviceduration',
    'Service Start Date': 'servicestartdate',
    'Service End Date': 'serviceenddate',
    'ServiceStartDateID': 'servicestartdateid',
    'ServiceEndDateID': 'serviceenddateid'
})

consumption_water_df.head()

,factid,vendorid,locationid,servicestartdateid,serviceenddateid,developmentid,meterid,consumptionvolume,currentcharges,waterandsewercharges,othercharges,serviceduration,servicestartdate,serviceenddate
0,1,1,1,2019122300,2020012600,1,1,19,196.35,196.35,0.0,34 days,12/23/2019,01/26/2020
1,2,2,2,2020012600,2020022400,2,2,25,258.35,258.35,0.0,29 days,01/26/2020,02/24/2020
2,3,3,3,2020022400,2020032300,3,3,21,217.02,217.02,0.0,28 days,02/24/2020,03/23/2020
3,4,4,4,2020032300,2020042300,4,4,10,103.34,103.34,0.0,31 days,03/23/2020,04/23/2020
4,5,5,5,2019122300,2020012600,5,5,7,72.34,72.34,0.0,34 days,12/23/2019,01/26/2020

In [68]:
#Database connection URL
pwd = 'VangougH20'
database_url = f'postgresql://swexler:{pwd}@cisdwbaruchwaterconsumption.postgres.database.azure.com/postgres'

engine = create_engine(database_url)

In [166]:
print(development_df.head())

# Write the DataFrame to a CSV file
development_df.to_csv("development.csv", index=False)

   DevelopmentID                DevelopmentName             buildingnumber  \
0              1                   BAISLEY PARK                     BLD 09
1              2                       BAY VIEW                     BLD 09
2              3  BERRY STREET-SOUTH 9TH STREET                     BLD 09
3              4      CLAREMONT REHAB (GROUP 2)                     BLD 09
4              5      CLAREMONT REHAB (GROUP 4)  BLD 25 - Community Center

   ElectronicDataProcessingNumber  RC_Code       FundingSource
0                             240  Q009100             FEDERAL
1                             240  Q009100             FEDERAL
2                             240  Q009100             FEDERAL
3                             240  Q009100             FEDERAL
4                             670  K209200  MIXED FINANCE/LLC1

In [169]:
# Define the file path
file_path = "development.csv"

# Write the DataFrame to a CSV file
try:
    unique_development_df.to_csv(file_path, index=False)
    print("CSV file saved successfully.")
except Exception as e:
    print("Error saving CSV file:", e)

# Check if the file exists
if os.path.exists(file_path):
    print("File exists:", file_path)
else:
    print("File does not exist.")

CSV file saved successfully.
File exists: development.csv

In [220]:
unique_development_df.to_csv("development.csv", index=False)

In [146]:
development_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   DevelopmentID                   111 non-null    int64
 1   DevelopmentName                 110 non-null    object
 2   buildingnumber                  111 non-null    object
 3   ElectronicDataProcessingNumber  111 non-null    int64
 4   RC_Code                         111 non-null    object
 5   FundingSource                   111 non-null    object
dtypes: int64(2), object(4)
memory usage: 5.3+ KB

In [221]:
# Example for Dim_Development
unique_development_df = development_df.copy()  # Create a copy of the original DataFrame

# Add a VendorID column with unique identifiers
unique_development_df['DevelopmentID'] = range(1, len(unique_development_df) + 1)

# Reorder the columns as per your requirement
new_order = ['DevelopmentID', 'DevelopmentName', 'ElectronicDataProcessingNumber', 'RC_Code', 'FundingSource']
unique_development_df = unique_development_df[new_order]

# Save the DataFrame to a CSV file
unique_development_df.to_csv("development.csv", index=False)

In [216]:
# Convert DataFrame to SQL and save to the database
unique_meter_df.to_sql('dim_meter', con=engine, if_exists='replace', index=False)

# Save the DataFrame to a CSV file
csv_file_path = "dim_meter.csv"
unique_meter_df.to_csv(csv_file_path, index=False)

print("DataFrame saved to SQL table 'dim_meter' and CSV file:", csv_file_path)

DataFrame saved to SQL table 'dim_meter' and CSV file: dim_meter.csv

In [179]:
# Convert DataFrame to SQL and save to the database
date_df.to_sql('dim_date', con=engine, if_exists='replace', index=False)

# Save the DataFrame to a CSV file
csv_file_path = "dim_date.csv"
date_df.to_csv(csv_file_path, index=False)

print("DataFrame saved to SQL table 'dim_date' and CSV file:", csv_file_path)

DataFrame saved to SQL table 'dim_date' and CSV file: dim_date.csv

In [190]:
# Convert DataFrame to SQL and save to the database
unique_location_df.to_sql('dim_location', con=engine, if_exists='replace', index=False)

# Save the DataFrame to a CSV file
csv_file_path = "dim_location.csv"
unique_location_df.to_csv(csv_file_path, index=False)

print("DataFrame saved to SQL table 'dim_location' and CSV file:", csv_file_path)

DataFrame saved to SQL table 'dim_location' and CSV file: dim_location.csv

In [181]:
# Convert DataFrame to SQL and save to the database
unique_vendor_df.to_sql('dim_vendor', con=engine, if_exists='replace', index=False)

# Save the DataFrame to a CSV file
csv_file_path = "dim_vendor.csv"
unique_vendor_df.to_csv(csv_file_path, index=False)

print("DataFrame saved to SQL table 'dim_vendor' and CSV file:", csv_file_path)

DataFrame saved to SQL table 'dim_vendor' and CSV file: dim_vendor.csv

In [315]:
# Convert timedelta column to string
consumption_water_df['ServiceDuration'] = consumption_water_df['ServiceDuration'].astype(str)

# Write DataFrame to SQL table
consumption_water_df.to_sql('facts_consumerwaterusage', con=engine, if_exists='replace', index=False)

# Define the file path for saving the CSV file
csv_file_path = 'facts_consumerwaterusage.csv'

# Save the DataFrame to a CSV file
consumption_water_df.to_csv(csv_file_path, index=False)

print("DataFrame saved to SQL table 'facts_consumerwaterusage' and CSV file:", csv_file_path)

DataFrame saved to SQL table 'facts_consumerwaterusage' and CSV file: facts_consumerwaterusage.csv

In [71]:
consumption_water_df.to_sql('factsconsumerwaterusage', con=engine, if_exists='append', index=False)

C:\Users\swexl\AppData\Local\Temp\ipykernel_3968\1531706201.py:1: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  consumption_water_df.to_sql('factsconsumerwaterusage', con=engine, if_exists='append', index=False)

743

In [ ]:
def create_string(length):
    if isinstance(length, int) and length > 0:
        result_string = "("+ "?," * (length - 1) + "?)"
        return result_string
    
def insert_data(table_name, df):
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()
    result = create_string(len(df.columns))
    
    insert_query = f"INSERT INTO {table_name} VALUES {result}"
    print(insert_query)
    cursor.executemany(insert_query, df.values.tolist())
    conn.commit()
    conn.close()

In [ ]:
server = 'cisdwbaruchwaterconsumption.postgres.database.azure.com'
database = 'postgres'
username = 'swexler'
password = f'{pwd}'
driver = '{PostgreSQL JDBC Driver}'

connection_string = f'DRIVER={driver}; SERVER={server}; DATABASE={database}; UID={username}; PWD={password}'

conn = pyodbc.connect(connection_string)
cursor = conn.cursor()